.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  .settingIcon {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    font-size: 1.4em;
  }
  .section1 {
    height: 84vh;
    width: 100vw;
    overflow: hidden;
    h1 {
      text-align: center;
      height: 4vh;
      margin: 2vh 0;
    }
    input {
      width: 70vw;
      margin: 2vh 10vw;
      // transform: scaleY(1.4);
      height: 4vh;
    }
    button {
      color: white;
    }
    .addButton {
      border-radius: 50%;
      background-color: green;
      transform: scale(1.5);
    }

    .noSubWarn {
      color: grey;
      width: 100vw;
      height: 84vh;
      display: grid;
      place-content: center;
      text-align: center;
    }
    .allSubjects {
      overflow: scroll;
      height: 68vh;
      .subData {
        display: flex;
        justify-content: space-between;
        padding: 1vh 3vw;
        border-radius: 15px;
        margin-bottom: 0.5vh;
        background-color: #5b4999;
        color: white;
        font-size: 0.8em;
        .closeButton {
          color: red;
          font-size: 1.5em;
          font-weight: 600;
        }
      }
      .subData:nth-child(even) {
      }
    }
  }
  .section2 {
    transition: all 600ms;
    position: absolute;
    bottom: 8vh;
    right: -100vw;
    height: 84vh;
    width: 100vw;
    background-color: white;
    h3 {
      text-align: center;
    }
    span {
      padding: 3vw;
      display: flex;
      justify-content: space-between;
      margin: 10vh 0;
      select {
        border: 1px solid #aaa;
        border-radius: 2px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        color: #555;
        font-size: inherit;
        margin: 0 10vw;
        padding: 0 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 25vw;
      }
    }
    button {
      width: 100vw;
      height: 6vh;
      position: absolute;
      bottom: 0;
      background-color: white;
      border: 1px solid black;
      // right: 25vw;
    }
    .sec2next {
      background-color: coral;
      color: white;
      font-size: 1.2em;
    }
  }
  .section3 {
    transition: all 600ms;
    position: absolute;
    bottom: 8vh;
    right: -100vw;
    height: 84vh;
    width: 100vw;
    background-color: white;
    overflow: scroll;
    label,
    input {
      display: inline-block;
      width: 45vw;
    }
    .section3Data {
      max-height: 50vh;
      overflow: scroll;

      div {
        display: flex;
        justify-content: space-between;
        padding: 1vh 5vw;
        background-color: rgb(253, 171, 141);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        // border-radius: 50px;
        font-size: 0.8em;
        button {
          margin-left: 1vw;
          width: 10vw;
          font-size: 1.2em;
        }
        small {
          display: inline-block;
          width: 20vw;
          text-align: center;
        }
        span {
          display: flex;
          align-items: center;
        }
      }
      div span:last-of-type {
        // font-size: 1em;
      }
    }
    article {
      table {
        display: inline-block;
        font-size: 0.5em;
        width: 100vw;
        max-width: 100vw;
        overflow: scroll;
        th {
          background-color: #04aa6d;
          color: white;
        }
        tr:nth-child(even) {
          background-color: #f2f2f2;
        }
      }
    }
    .selectSection {
      width: 30vw;
    }
    .pdfButtonGroup {
      display: flex;
      justify-content: space-evenly;
      button {
        padding: 1vw;
      }
      button:last-child {
        background-color: red;
        color: white;
      }
    }
  }
  .settingMenuArticle {
    background-color: white;
    transition: all 700ms;
    position: absolute;
    bottom: 0;
    // left: -100vw;
    height: 100vh;
    width: 60vw;
    overflow: scroll;
    clip-path: circle(0% at 0% 0%);
    h2 {
      text-align: center;
    }
    div {
      background-color: #f2f2f2;
      padding: 1vw;
      margin-bottom: 4vh;
      border-radius: 50px;
    }
  }
  .settingMenuAboutUs span:first-of-type{
    font-size: 2em;
  }
  .settingMenuAboutUs {
    background-color: white;
    position: absolute;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: black;
    color: white;
    // .style1 {
    //   position: absolute;
    //   clip-path: polygon(0 0, 0% 100%, 100% 0);
    //   height: 50vh;
    //   width: 100vw;
    //   background-color: black;
    //   z-index: -1;
    //   left: 0;
    //   top: 0;
    // }
    transition: all 400ms;
    .style2 {
      position: absolute;
      height: 65vh;
      width: 100vw;
      right: 0;
      bottom: 0;
      background-color: #7d1860;
      z-index: -1;
      clip-path: polygon(100% 100%, 0% 100%, 100% 0);
    }
    .one {
      p {
        margin: 3vh 0vw;
        padding: 10px;
      }
    }
    .two {
      display: flex;
      justify-content: space-between;
      height: 65vw;
      div {
        position: relative;
        img {
          width: 45vw;
          height: 45vw;
          clip-path: circle(50% at 50% 50%);
        }
        caption {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
        }
      }
    }
  }
}
.textAlignCenter {
  text-align: center;
}
.mrSmall {
  margin-right: 2vw;
}
.warn{
  color: red;
  font-weight: bolder;
}
