.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  .settingIcon {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    background-color: red;
  }
  .section1 {
    height: 84vh;
    width: 100vw;
    overflow: hidden;
    h1 {
      text-align: center;
      height: 4vh;
      margin: 2vh 0;
    }
    input {
      width: 70vw;
      margin: 2vh 10vw;
      // transform: scaleY(1.4);
      height: 4vh;
    }
    button {
      color: white;
    }
    .addButton {
      border-radius: 50%;
      background-color: green;
      transform: scale(1.5);
    }

    .noSubWarn {
      color: grey;
      width: 100vw;
      height: 84vh;
      display: grid;
      place-content: center;
    }
    .allSubjects {
      overflow: scroll;
      height: 68vh;
      .subData {
        display: flex;
        justify-content: space-around;
        padding: 2vh 0;
        background-color: #36d49e;
        border-radius: 15px;
        margin-bottom: 3vh;
        button {
          background-color: red;
        }
      }
    }
  }
  .section2 {
    transition: all 600ms;
    position: absolute;
    bottom: 8vh;
    right: -100vw;
    height: 84vh;
    width: 100vw;
    background-color: white;
    h3 {
      text-align: center;
    }
    span {
      padding: 3vw;
      display: flex;
      justify-content: space-between;
      margin: 10vh 0;
      select {
        border: 1px solid #aaa;
        border-radius: 2px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        color: #555;
        font-size: inherit;
        margin: 0 10vw;
        padding: 0 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 25vw;
      }
    }
    button {
      width: 100vw;
      height: 6vh;
      position: absolute;
      bottom: 0;
      background-color: white;
      border: 1px solid black;
      // right: 25vw;
    }
    .sec2next {
      background-color: coral;
      color: white;
      font-size: 1.2em;
    }
  }
  .section3 {
    transition: all 600ms;
    position: absolute;
    bottom: 8vh;
    right: -100vw;
    height: 84vh;
    width: 100vw;
    background-color: white;
    overflow: scroll;
    label,
    input {
      display: inline-block;
      width: 45vw;
    }
    .section3Data {
      div {
        display: flex;
        justify-content: space-between;
        padding: 1vh 5vw;
        margin: 2vh 0;
        background-color: rgb(253, 171, 141);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 50px;

        button {
          width: 10vw;
          font-size: 1.2em;
        }
        small {
          display: inline-block;
          width: 20vw;
          text-align: center;
        }
      }
    }
    article {
      .oneTT {
        font-size: 0.5em;
        border: 3px solid black;
        // padding: 2vw;
        .weekDayName,
        .ttRow {
          border-top: 1px solid black;
          display: flex;
          justify-content: space-between;
        }
        .weekDayName{
          background-color: coral;
          font-weight: bold;
        }
        .ttRow span:first-of-type{
          background-color: coral;
          font-weight: bold;
        }
        .ttRow:nth-of-type(2n + 1){
          background-color: red;
        }
      }
    }
    .selectSection {
      width: 30vw;
    }
    .pdfButtonGroup {
      display: flex;
      justify-content: space-evenly;
      button {
        padding: 1vw;
      }
      button:last-child {
        background-color: red;
        color: white;
      }
    }
  }
  .settingMenuSection {
    background-color: white;
    transition: all 500ms;
    position: absolute;
    bottom: 0;
    left: -100vw;
    height: 100vh;
    width: 60vw;
    overflow: scroll;
    h2 {
      text-align: center;
    }
    div {
      background-color: darkcyan;
      padding: 1vw;
      margin-bottom: 4vh;
      border-radius: 50px;
    }
  }

  footer {
    div {
      font-size: 1.2em;
      font-weight: bold;
      color: gray;
    }
  }
  footer div:first-of-type {
    color: green;
  }
}
